.cta {
    padding-top: 70px;
    padding-bottom: 70px;
}
.cta__block {
display: flex;
justify-content: space-between;
align-items: stretch;



    border-radius: 20px;
background-color: #979797;
color: $black-color;
}


.cta__img {
    width: 60%;
    min-width: 300px;
    margin-top: 60px;
    padding-top: 25px;
    padding-right: 25px;
    background-color: #fff;
    border-radius: 0 20px 0 0;
}
.cta__text {

    
    
    width: 555px;
    padding-left: 95px;
    padding-right: 40px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background: 
    url(./../img/oval1.svg) right top no-repeat, 
    url(./../img/Oval2.svg) bottom left -140px no-repeat;
    
    p{
        width: 320px;
    }
}


.cta__title {
    margin-bottom: 15px;
    }

.cta__title.title {
    // color: #fff;
}
.cta__buttons-row {
    margin-top: 30px;
    display: flex;
    column-gap: 20px;
}
